@page "/StopWatch"
@using System
@using System.Diagnostics
@using System.Threading
@inject NavigationManager Navigation
<MudButton/>
<h3>Stop Watch</h3>

<p role="status"> @currentCount</p>

<button class="btn" style="background-color: #28a745; color: white;" @onclick="StartClock">Start</button>
<button class="btn" style="background-color: #6c757d; color: white;" @onclick="AddLap">Lap</button>
<button class="btn" style="background-color: #dc3545; color: white;" @onclick="StopClock">Stop</button>
<button class="btn" style="background-color: #17a2b8; color: white;" @onclick="ResetClock">Reset</button>

<p></p>
<h4>Laps</h4>
<ul>
    @foreach (var lap in Laps)
    {
        <li>@lap</li>
    }
</ul>

@code {
    private string currentCount ="00:00:00.00";
    private Stopwatch stopWatch = new Stopwatch();
    bool running;
    private List<string> Laps = new List<string>();


    private async Task StartClock()
    {
        stopWatch.Start();
        running = true;

        while (running == true)
        {
            TimeSpan Elapsed = stopWatch.Elapsed;

            currentCount = String.Format("{0:00}:{1:00}:{2:00}.{3:00}",
           Elapsed.Hours, Elapsed.Minutes, Elapsed.Seconds,
           Elapsed.Milliseconds / 10);

            //Making changes show up realtime
            StateHasChanged();
            await Task.Delay(100);
        };
    }

    private void StopClock()
    {
        stopWatch.Stop();

        // Get the elapsed time as a TimeSpan value.
        TimeSpan currentCount = stopWatch.Elapsed;
        running = false;

        // Format and display the TimeSpan value.
        string elapsedTime = String.Format("{0:00}:{1:00}:{2:00}.{3:00}",
            currentCount.Hours, currentCount.Minutes, currentCount.Seconds,
            currentCount.Milliseconds / 10);
    }

    private void ResetClock()
    {
        currentCount = "00:00:00.00";
        stopWatch.Restart();
        Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
    }

    private void AddLap()
    {
        //get time elapsed 
        TimeSpan Lap = stopWatch.Elapsed;

        string elapsedTime = String.Format("{0:00}:{1:00}:{2:00}.{3:00}",
           Lap.Hours, Lap.Minutes, Lap.Seconds,
           Lap.Milliseconds / 10);

        //print it out => list?
        Laps.Add(elapsedTime);
    }
}
